// $black: #171717;
// $gray: #444444;
// $red: #F2527D;
// $ash: #EDEDED;
// $white: #ffffff;


$darkest-blue: #124ca1;
$darker-blue: #3564af;
$gray: #c1c7d9;
$light-blue: #97a9d7;
$pink: #f2527d;
$green: #017171;